name: CI

on:
  push:
  pull_request:

jobs:
  uber-jar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - run: mvn clean install

  linux-amd64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - run: mvn clean install -Dnative

#  macos-amd64:
#    runs-on: macos-latest
#    steps:
#      - uses: actions/checkout@v3
#      - uses: graalvm/setup-graalvm@v1
#        with:
#          java-version: '17'
#          distribution: 'graalvm'
#      - run: mvn clean install -Dnative
#
#  windows-amd64:
#    runs-on: windows-latest
#    steps:
#      - uses: actions/checkout@v3
#      - uses: graalvm/setup-graalvm@v1
#        with:
#          java-version: '17'
#          distribution: 'graalvm'
#      - run: mvn clean install -Dnative
